/*============================================
; Title: House Gryffindor JavaScript Trivia
; Author: Mark Watson
; Date: 11 February 2021
; Modified by: Kevin Jones
; Description: JavaScript quiz built using
; Knockout.js (CSS file)
;===========================================*/

* {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
}

body {
  background-color: #ecad43;
  padding: 1em;
}

.header,
.sub-header {
  font-family: "Jim Nightshade", cursive;
  color: #f5f6ce;
  letter-spacing: 5px;
  font-size: 4em;
}

.sub-header {
  letter-spacing: 2px;
  font-size: 2em;
}

#knockout-app {
  background-color: #721e1c;
  text-align: center;
  padding: 2em 0;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 12px 2px #090909;
  box-shadow: 0 0 12px 2px #090909;
}

#crest {
  display: block;
  width: 350px;
  margin: auto;
  padding-bottom: 1em;
}

#quiz {
  background-color: #e1423d;
  padding: 2em 0;
}

.radios {
  margin: 0 auto;
  width: 260px;
  text-align: left;
}

h3 {
  font-size: 1.5em;
}

button {
  background-color: #ecad43;
  border: none;
  color: #090909;
  font-weight: 700;
  padding: 12px 24px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-box-shadow: 0 0 3px 1px #a06100;
  box-shadow: 0 0 3px 1px #a06100;
}

button:hover {
  background-color: #d3942a;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.hidden {
  display: none;
}

.summary-div {
  color: #f5f6ce;
}

.answers-div {
  background-color: #e1443d;
  padding: 0.5em;
}

ul {
  list-style: none;
}

@media (max-width: 768px) {
  #knockout-app {
    overflow: hidden;
  }
  #crest {
    width: 320px;
    padding-bottom: 0;
  }
  .header {
    font-size: 2em;
  }
  #quiz,
  label {
    text-align: left;
  }
  p {
    text-align: center;
  }

  ul {
    margin: 0;
    padding: 0;
  }
}
